@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  width: 100%;
  overflow-x: hidden;
}

nav {
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 100%;
}

.hero {
  background-color: #dbdbdb;
}

.hero div {
  padding: 32px 16px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #9b9b9b;
  padding: 16px 0px;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  text-align: center;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.feature {
  padding: 1rem;
}

.feature p {
  font-weight: 200;
}

.more {
  padding-top: 1rem;
}

.more a {
  font-weight: 300;
  text-decoration: none;
  color: #5891dc;
}

.learning {
  padding: 1rem;
  background-color: #f5f4f5;
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
}

.learning h2 {
  padding-top: 1.5rem;
}

.lessons {
  background-color: #d8d8d8;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.exhibits {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.exhibits h2 {
  padding-top: 1.5rem;
}

footer {
  padding: 1rem;
}

footer nav {
  display: none;
}
